html
  background #f0f0f0

a
  color #626262
  &:hover
    color #e97a9e

.icon-user
  color #e97a9e

.Container-button
  &:hover
    background #e97a9e
    color white

.u-940
  display block
  margin 0 auto
  max-width 62.5em

.u-color
  background-color #e97a9e

.Header
  display block
  padding-bottom 3em

.SocialMenu
  background #262626
  display block
  height 2.62em
  padding-top 1em
  text-align center

.SocialMenu-list
  margin 0
  padding 0

.SocialMenu-item
  display inline-block

.SocialMenu-link
  font-size 1.2em
  line-height 2.62em
  margin 1em
  text-decoration none

.Logo
  height 3.85em
  padding 1.5em 0 1.5em 0
  position relative

.Logo-title
  border-right 1px solid #cc4162
  color white
  display inline-block
  font-size 2.5em
  font-weight normal
  margin 0
  padding-right .9em
  position absolute

.Logo-description
  color white
  display inline-block
  font-size .9em
  left 20em
  margin 0
  position absolute
  top 2em

.Logo-imageContainer
  display inline-block
  margin 0
  padding 0
  position absolute
  right 0

.MainMenu
  background-image -webkit-gradient(
 linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #D9D9D9)
	)
  background-image -o-linear-gradient(bottom, #FFFFFF 0%, #D9D9D9 100%)
  background-image -moz-linear-gradient(bottom, #FFFFFF 0%, #D9D9D9 100%)
  background-image -webkit-linear-gradient(bottom, #FFFFFF 0%, #D9D9D9 100%)
  background-image -ms-linear-gradient(bottom, #FFFFFF 0%, #D9D9D9 100%)
  background-image linear-gradient(to bottom, #FFFFFF 0%, #D9D9D9 100%)
  border-radius 3px
  box-shadow 0 2px 0 #aaaaaa
  height 4.06em

.MainMenu-list
  margin 0
  padding 0

.MainMenu-item
  border-right 1px solid #eeeeee
  display inline-block

.MainMenu-link
  color #2f2f2f
  font-weight bold
  line-height 4.06em
  margin 1.5em
  text-decoration none
  text-transform uppercase

.Content
  position relative
  padding 2.5em 0

.Container-button,
.Container-inputAsunto,
.Container-inputEmail,
.Container-inputNombre,
.Container-textareaMotivo
  background #f0f0f0
  border 0
  border-radius 3px
  box-shadow 0 1px 2px rgba(0,0,0,0.15)
  color #626262
  margin .5em
  padding .5em

.Container-inputEmail,
.Container-inputNombre
  width 44.29%

.Container-inputNombre
  margin-right 2%

.Container-inputAsunto,
.Container-textareaMotivo
  width 97%

.Container-textareaMotivo
  height 12em

.Container-contac
    display inline-block
    width 100%

.Container
  display inline-block
  margin-right 1.6em
  vertical-align top
  width 41.85em

.Container-header
  border-radius 3px
  display block
  color white
  font-weight bold
  margin-bottom 1.5em
  padding .5em .7em

.Container-item
  background white
  border-radius 3px
  box-shadow 0 1px 2px rgba(0,0,0,0.15)
  display block
  margin-bottom 1.5em
  padding 1em

.Container-left
  vertical-align top
  display inline-block
  left 0
  margin 0
  top 0

.Container-link
  color white
  text-decoration none
  &:hover
    color white
    text-decoration underline

.Container-maps
  display inline-block
  left 0
  right 0
  width 39.8em

.Container-right
  display inline-block
  right 0
  top 0
  width 20em

.Container-leftImageContainer
  float left
  margin 0 1em 0 0

.Container-rightTitle,
.Container-title
  color #2c2b2b
  font-size 1.8em
  font-weight normal

.Container-title
  margin 0 0 .5em 0

.Container-rightTitle
  margin 0

.Container-rightList
  margin 0
  padding 0

.Container-rightItem
  display inline-block

.Container-rightLink
  font-size .8em
  font-weight normal
  margin-right .5em
  text-decoration none

.Container-paragraph,
.Container-rightDescription
  color #626262
  font-size .86em

.Sidebar
  display inline-block
  right 0

.Sidebar-container
  border-radius 3px
  background white
  box-shadow 0 1px 2px rgba(0,0,0,0.15)
  display block
  margin-bottom 1.5em
  padding .9em

.Sidebar-imageBanner,
.Sidebar-containerImage
  margin 0
  padding 0

.Sidebar-title
  border-radius 3px
  display block
  color white
  font-weight bold
  font-size 1em
  margin-bottom 1.5em
  padding .5em .7em

.Sidebar-containerTitle
  color #2c2b2b
  font-size 1.3em
  font-weight normal
  margin 0

.Sidebar-containerList
  border-bottom 1px solid #e4e4e4
  margin 0 0 .8em 0
  padding 0
  padding-bottom .6em

.Sidebar-containerItem
  display inline-block

.Siebar-containerLink
  font-size .8em
  font-weight normal
  margin-right .3em
  text-decoration none

.none
  border 0
  margin 0

.Footer
  background white
  border-top 1px solid #e3e3e3

.Footer-itemLeft
  margin-right .5em

.Footer-itemLeft,
.Footer-itemRight
  display inline-block
  vertical-align top

.Footer-itemLeftImage
  margin 0
  padding 0

.Footer-top
  padding 2em 0

.Footer-topLeft,
.Footer-topCenter
  margin-right 1.4em

.Footer-topLeft,
.Footer-topCenter,
.Footer-topRight
  display inline-block
  vertical-align top
  width 19.43em

.Footer-topTitle,
.Footer-topCenterTitle,
.Footer-topRightTitle
  border-bottom 1px dotted #aaaaaa
  color #2c2b2b
  font-weight normal
  font-size 1.4em
  margin 0
  padding-bottom .5em

.Footer-topCenterTitle,
.Footer-topRightTitle
  margin-bottom .8em

.Footer-itemRightCategori
  color white
  display inline-block
  font-size .7em
  font-weight bold
  padding 0 .3em 0 .3em
  vertical-align top

.Footer-itemRightTitle
  color #2c2b2b
  margin 0
  padding 0
  font-size .7em

.Footer-itemRightList
  margin 0
  padding 0

.Footer-itemRightitem
  display inline-block

.Footer-itemRightLink
  font-size .7em
  font-weight normal
  margin-right .3em
  padding-right .8em
  text-decoration none

.Footer-block
  border-bottom 1px solid #e4e4e4
  padding .8em 0

.Footer-topCenterlink
  background-color #f5f5f5
  border 1px solid #d4d4d4
  border-radius 3px
  color #d4d4d4
  display inline-block
  font-size .8em
  margin-bottom .5em
  margin-right .3em
  padding .1em .2em
  text-decoration none

.Footer-topRightDescription
  color #626262
  font-size .9em

.Footer-rightAddres,
.Footer-rightPhone,
.Footer-rightEmail
  color #aaaaaa
  font-size .8em
  font-weight bold
  margin .5em 0 0 0
  text-transform uppercase

.Footer-rightAddresDescription,
.Footer-rightPhoneDescription,
.Footer-rightEmailDescription
  color #232323
  font-size .9em
  font-weight bold
  margin 0 0 .5em 0

.Footer-bottom
  background #f0f0f0
  border-top 1px solid #e3e3e3
  color #626262

.Footer-bottomCopyright
  font-size .8em
  margin-right 3em

.Footer-bottomCopyrightLink
  color #e97a9e
  font-weight bold
  text-decoration none

.Footer-bottomCopyright,
.Footer-bottomMenu
  display inline-block

.Footer-bottomList
  margin 0
  padding 0

.Footer-bottomitem
  display inline-block

.Footer-bottomLink
  font-size .75em
  font-weight bold
  margin-right .3em
  padding-right .8em
  text-decoration none
  text-transform uppercase

